@use "global" as *;

.about-mv {
  height: rem(460);
  width: 100%;
  background-image: url(../images/common/about-mv-sp-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mq("md") {
    height: rem(548);
    background-image: url(../images/common/about-mv-img.jpg);
  }
}