@use "global" as *;

.campaign-page__inner {
  position: relative;
}

.campaign-page__contents {
  margin-top: rem(40);
  padding: 0 rem(32);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(32);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    row-gap: rem(70);
    column-gap: rem(40);
  }
}