@use "global" as *;

.category {
  display: inline-block;
  color: $green;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.833;
  padding: rem(4);
  width: rem(108);
  border: 1px solid $green;
  text-align: center;
  @include mq("md") {
    padding: rem(6);
    width: rem(116);
  }
}