@use "global" as *;

.top-voice {
  position: relative;
}

.top-voice::before {
  @include mq("md") {
    content: "";
    position: absolute;
    top: rem(-120);
    left: calc(50% - min(48%, rem(620)));
    background-image: url(../images/common/top-voice-group.svg);
    width: rem(301);
    height: rem(138);
  }
}

.top-voice::after {
  @include mq("md") {
    content: "";
    position: absolute;
    bottom: rem(-68);
    right: calc(50% - min(48%, rem(540)));
    background-image: url(../images/common/ibaratatsu.svg);
    width: rem(71);
    height: rem(162);
  }
}

.top-voice__items {
  margin-top: rem(45);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.top-voice__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}