@use "global" as *;

.top-price {
  background-color: $blue;
  position: relative;
}

.top-price::after {
  @include mq("md") {
    content: "";
    position: absolute;
    bottom: rem(60);
    left: calc(50% - min(48%, rem(620)));
    background-image: url(../images/common/top-price-group.svg);
    width: rem(437);
    height: rem(201);
  }
}

.top-price__contents {
  margin-top: rem(28);
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: rem(40);
  }
}

.top-price__img {
  aspect-ratio: 345 / 227;
  @include mq("md") {
    aspect-ratio: 373 / 246;
    width: 46%;
  }
}

.top-price__img img {
  object-fit: cover;
  height: 100%;
}

.top-price__items {
  margin-top: rem(40);
  @include mq("md") {
    width: 45.5%;
    margin-top: 0;
    padding-bottom: rem(98);
  }
}

.top-price__item {
  color: $black;
}

.top-price__item:not(:first-child) {
  margin-top: rem(40);
}

.top-price__title {
  font-weight: $bold;
  padding-bottom: rem(4);
  border-bottom: 1px solid $green;
  font-size: rem(16);
}

.top-price__info {
  display: flex;
  justify-content: space-between;
  font-size: rem(14);
  line-height: 1.714;
  font-weight: $normal;
  margin-top: rem(8);
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.top-price__price {
  margin-left: rem(8);
}

.top-price__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}