@use "global" as *;

.voice-mv {
  height: rem(460);
  width: 100%;
  background-image: url(../images/common/voice-mv-sp-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mq("md") {
    height: rem(548);
    background-image: url(../images/common/voice-mv-img.jpg);
  }
}